.fade-image-right {
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to right, transparent, black);
  -webkit-mask-image: linear-gradient(to right, transparent, black);
}

.fade-image-left {
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to left, transparent, black);
  -webkit-mask-image: linear-gradient(to left, transparent, black);
}
