:root {
  --primary: #ad9263;
  --link-hover-color: #b88b4a;
  --btn-primary-hover-color: #baa47c;
  --btn-primary-border: #997f51;
  --navbar-light-color: #333;
  --navbar-light-hover-color: #b88b4a;
  --background: #f5f5f5;
}
