/** Styles for the carousel **/

.carousel-container {
  height: 70vh;
}

@media (max-width: 768px) {
  .carousel-container {
    height: 40vh;
  }
}

.slick-slider {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.carousel-item img {
  width: 100%;
}

.slick-prev,
.slick-next {
  z-index: 100;
  width: 7%;
  height: 100%;
}

/* Avoid borders on body because of the "next" and "prev" buttons */
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

/** Styling for the text box **/
