/* Top Info Bar */
.top-info-bar {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  height: 50px; /* Set consistent height */
  line-height: 50px; /* Center-align content vertically */
  padding: 0 15px;
  width: 100% !important;
}

.fa,
.far {
  color: var(--primary) !important;
}

.top-info-bar .container {
  display: flex;
  justify-content: space-between; /* Ensures left and right sections are aligned */
  align-items: center; /* Align items vertically */
}

.contact-info {
  width: auto !important;
}

.right-section {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  gap: 15px; /* Spacing between button and icons */
}

.social-icons a {
  color: #333;
  font-size: 1.2em;
}

.social-icons a:hover {
  color: #b88b4a;
}

.solicitar-btn {
  font-weight: 600;
  font-size: 0.8rem;
  padding: 8px 15px;
  border-radius: 0;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-color: var(--btn-primary-border);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .solicitar-btn {
    width: 100%;
  }
}

.container,
.right-section,
.solicitar-btn {
  height: 100%;
}

.solicitar-btn:hover,
.solicitar-btn:focus,
.solicitar-btn:active {
  background-color: var(--btn-primary-hover-color) !important;
  border-color: var(--btn-primary-border) !important;
  text-decoration: none;
}

.phone-number,
.email {
  color: var(--dark);
  text-decoration: none;
}
